@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="background-image: url(http://www.salakasenkada.com/wp-content/uploads/2017/11/img-money-04-1170x585.jpg); min-height:300px; background-size: cover;">
    

</div>
<div id="listData" class="container-fluid">


    <ul class="list-group">
        <li v-for="item in items" class="list-group-item">
            
            <div class="input-group mb-3 container-fluid ">
                    <div class="input-group-addon" >
                        <span class="input-group-text" id="nameDesc">Name</span>
                    </div>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="nameDesc" :value="item.name">
            </div>
            <div class="input-group mb-3 container-fluid ">
                <div class="input-group-addon">
                    <span class="input-group-text" id="countryCodeDesc">Country Code</span>
                </div>
                <input type="text" class="form-control" id="countryCode" name="countryCode" aria-describedby="countryCodeDesc" :value="item.countryCode">
            </div>
            <div class="input-group mb-3 container-fluid ">
                <div class="input-group-addon">
                    <span class="input-group-text" id="formattedValueDesc">Total Value</span>
                </div>
                <input type="text" class="form-control" id="formattedValue" name="formattedValue" aria-describedby="formattedValueDesc" :value="item.formattedValue">
            </div>
        </li>
    </ul>
</div>

