@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="background-image: url(http://www.salakasenkada.com/wp-content/uploads/2017/11/img-money-04-1170x585.jpg); min-height:300px; background-size: cover;">
    

</div>
<div id="listData" class="container-fluid">


    <table class="table input-group mb-3 container-fluid ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">Amount</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in items">
                <th scope="row">{{item.name}}</th>
                <td>{{item.country}}</td>
                <td>{{item.formattedValue}}</td>
                <td>{{item.formattedIntrinsicValue}}</td>
            </tr>
        </tbody>
    </table>
</div>

